@using HW17.Domain.Core.DTOs.BookDtos

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    @model List<GetBookDtos>
}
<head>

    <style>
        body{
            margin: 0;
            background-color: #fefefe;
        }
        .book{
            width: 260px;
            height: 450px ;
            text-align: center;
            border: 2px none gray;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            background: white;
        }
        .book img{
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 180px; ;
            height: 280px;
            margin: 10px;
            margin: 15px;
            background-size: cover;
            border-radius: 10px;
        }
        .cards{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap:  wrap;
            flex-direction: row-reverse;
            gap: 20px;
        }
        .container{
            margin: 50px auto;
        }
        #price{
            color: red;
            font-weight: 900;
            font-size: 15px;
        }
        .heading{
            text-align: center;
            margin-bottom: 50px;
            font-size: 20px;
            color: #444444;
        }
        .pageBook{
            color: #787878;
            font-size: 13px;
            margin-bottom: 5px;
        }
        .writer{
            color: #787878;
            font-size: 16px;
            margin-bottom: 5px;
        }
        .bookTitle{
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="heading">
            <h2>لیست کتاب ها</h2>
        </div>
        <div class="cards">
            @foreach(var book in Model)
            {
                <div class="book">
                <img src="@book.ImagePath" alt="@book.Title" />
                <h3 class="bookTitle">@book.Title</h3>
                <p class="writer">@book.Auther</p>
                <p class="pageBook">@book.PageCount</p>
                <p id="price"> ت @book.Price </p>
            </div>
            }
        </div>
    </div>
</body>
</html>
