
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@{
    @model HW17.Presentation.MVC.Models.ViewModels.HomeViewModel
}
<head>

    <style>
        body{
            margin: 0;
            background-color: #fefefe;
        }
        .book{
            width: 260px;
            height: 450px ;
            text-align: center;
            border: 2px none gray;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            background: white;
        }
        .book img{
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 180px; ;
            height: 280px;
            margin: 10px;
            margin: 15px;
            background-size: cover;
            border-radius: 10px;
        }
        .cards{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap:  wrap;
            flex-direction: row-reverse;
        }
        .container{
            margin: 50px auto;
        }
        #price{
            color: red;
            font-weight: 900;
            font-size: 15px;
        }
        .heading{
            text-align: center;
            margin-bottom: 50px;
            font-size: 20px;
            color: #444444;
        }
        .category{
            width: 250px;
            height:155px ;
            text-align: center;
            border: 2px solid gray;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 10px;
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center; 
            text-align: center;
        }
        .cards .category{
            border: none;
        }
        .category img{
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
        }
        #category1{
            background-color:#FFF9C4 ;
            color: #FFC107;
        }
        #category2{
            background-color:#C8E6C9 ;
            color: #4CAF50;
        }
        #category3{
            background-color: #E3F2FD;
            color: #2196F3;
        }
        #category4{
            background-color:#FFE6F0 ;
            color: #E91E63;
        }
        #category5{
            background-color:#F3E6FF ;
            color: #9C27B0;
        }
        .banner{
            
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 250px;
            background: linear-gradient(to left, #1c3c9c 20%, #3a78d6 80%);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            text-align: center;
            border-radius: 20px;
            margin: 50px auto;
            margin-buttom: 50px;
        }
        .banner .bannerItem{
            margin-bottom: 17px;
        }
        .bannerButton{
            border: none;
            border-radius: 10px;
            background-color: white;
            color: #1c3c9c;
            padding: 15px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            font-weight: 900;
            margin: 4px 2px;
            cursor: pointer;
        }
        .pageBook{
            color: #787878;
            font-size: 13px;
            margin-bottom: 5px;
        }
        .writer{
            color: #787878;
            font-size: 16px;
            margin-bottom: 5px;
        }
        .bookTitle{
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="banner">
        <div class="bannerItem"><h1>هر کتابی که می خواهی اینجا هست</h1></div>
        <div class="bannerItem"><p>.با بیش از 100000 عنوان کتاب در دسته بندی های مختلف، سفر مطالعاتی خود را آغاز کنید</p></div>
        <div class="bannerItem"><button type="button" class="bannerButton">مشاهده ی پر فروش ها</button></div>
    </div>
    <div class="container">
        <div class="heading">
            <h2>دسته بندی ها</h2>
        </div>
        <div class="cards">
            @foreach(var category in Model.Categories)
            {
                <div class="category" id="category@((Model.Categories.IndexOf(category) + 1))">
                <img src="@category.ImagePath" alt="@category.Name" />
                <h3>@category.Name</h3>
                <p>@category.Description</p>
            </div>
            }
        </div>

    </div>
    <div class="container">
        <div class="heading">
            <h2>جدیدترین کتاب ها</h2>
        </div>
        <div class="cards">
            @foreach(var book in Model.Books)
            {
                <div class="book">
                <img src="@book.ImagePath" alt="@book.Title" />
                <h3 class="bookTitle">@book.Title</h3>
                <p class="writer">@book.Auther</p>
                <p class="pageBook">@book.PageCount</p>
                <p id="price"> ت @book.Price </p>
            </div>
            }
        </div>
    </div>
</body>
</html>
