@using HW17.Domain.Core.DTOs.UserDTos
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<GetUserDto>
<head>
    <style>
        .container {
            direction: rtl;
        }

        h1 {
            color: #333;
            margin-bottom: 15px;
        }

        .btn {
            border: none;
            padding: 8px 15px;
            border-radius: 6px;
            cursor: pointer;
            font-size: 14px;
            transition: 0.3s ease;
        }

        .btn-add {
            background: #3b82f6;
            color: #fff;
            margin: 15px 0;
            
        }

        .btn-add:hover {
            background-color: #2563eb;
        }

        .btn-edit {
            background-color: #22c55e;
            color: white;
        }

        .btn-edit:hover {
            background-color: #16a34a;
        }

        .btn-delete {
            background-color: #ef4444;
            color: white;
        }

        .btn-delete:hover {
            background-color: #dc2626;
        }

        table {
            border-collapse: collapse;
            background: white;
            border: 1px solid #ddd;
            direction: rtl;
        }

        th, td {
            padding: 10px 15px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #3b82f6;
            color: white;
        }

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 6px;
        }

    </style>
</head>

<div class="container">
    <h1>مدیریت کاربران</h1>
    <a asp-action="AddUser"><button class="btn btn-add" type="submit">افزودن کاربر جدید</button></a>
    <table>
        <thead>
            <tr>
                <th>آیدی</th>
                <th>نام کاربری</th>
                <th>ایمیل</th>
                <th>شماره تماس</th>
                <th>نقش کاربری</th>
                <th>عکس پروفایل</th>
                <th>ویرایش</th>
                <th>حذف</th>
            </tr>
        </thead>
        <tbody>

            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td>@item.IsAdmin</td>
                    <td><img src="@item.ProfilePath" alt="@item.Username picture" /></td>
                    <td><a asp-action="EditUser"  asp-route-userId="@item.Id"><button class="btn btn-edit"  type="submit">ویرایش</button></a></td>
                    <td><a asp-action="DeleteUser" asp-route-userId="@item.Id"><button class="btn btn-delete" type="submit">حذف</button></a></td>
                </tr>
            }
            
        </tbody>
    </table>
</div>

</html>
